/* body:after {
  content: "Steven Ge \A Itoh Laboratory";
  white-space: pre-wrap;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #000;
  }
   */

.reveal-viewport {
  background-image: url(/images/logo.svg);
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: 3% 3%;
}

.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
}

.reveal .slides {
    width: 70% !important;
    margin-top: 2.5%;
}

.reveal .slide-number {
  font-size: 1em;            
  right: 46%;
  left: 46%;
  text-align: center;
  color: #ffffff; }

.reveal table, tr, td {
  border: none !important;
}

mark {
  background-color: yellow;
  color: black;
}

/* graph css */
div .graph {
  margin-left: 12.5%;
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
  text-align: left;
  height: 15em;
  width: 50%;
}

div {
  text-align: left;
}

div .halfheight {
  height: 7em;
  /* height: 100% */
}

div .quarterheight {
  height: 6em;
  /* height: 100% */
}

table {
  border-collapse: collapse !important;
  width: 100% !important;
}

th, td {
  padding: 8px !important;
  text-align: left !important;
  border-bottom: 1px solid #000 !important;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

section[data-transition*="none-out"].present, section[data-transition*="none-out"].past {
  transition-duration: 0s !important; }
section[data-transition*="none-in"].future, section[data-transition*="none-in"].present {
  transition-duration: 0s !important; }

section {
  top: auto !important;
}